body {
  font-family: 'Lato', sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-holder {
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  padding: 50px 20px;
}

.container h2 {
  margin: 0 0 10px;
  font-size: 18px;
}

.logo {
  width: 250px;
  height: 80px;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content-margin {
  margin-bottom: 20px;
}

.cd-holder {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding: 20px;
  border: 2px solid #000;
  text-decoration: none;
}

.cd-holder:hover {
  text-decoration: none;
  background-color: RGBA(218,218,218,0.3);
  color: #000000;

  -webkit-animation: fade-in 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.cd-holder img {
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.43);
  margin-right: 20px;
}

.cd-holder p {
  font-size: 18px;
}

.links-holder {
    flex-basis: 50%;
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 2px solid #000;
}

.links li {
  margin: 0;
}

.links p {
  margin: 0;
  font-size: 16px;
}

.links img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.link {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  color: #000000;
  text-decoration: none;
}

.link:hover {
  background-color: RGBA(218,218,218,0.3);
  color: #000000;

  -webkit-animation: fade-in 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    background-color: RGBA(218,218,218,0);
  }
  100% {
    background-color: RGBA(218,218,218,0.5);
  }
}
@keyframes fade-in {
  0% {
    background-color: RGBA(218,218,218,0);
  }
  100% {
    background-color: RGBA(218,218,218,0.5);
  }
}

.yt-holder {
  flex-basis: 50%;
  padding-left: 40px;
}

.social-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

.social-holder img {
  width: 35px;
  height: 35px;
}

.patrons-container {
  width: 100%;
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background: #fff;
  padding: 20px;
}

.logo img {
  width: 25px;
  height: 25px;
}

.patron {
  max-width:75px;
  max-height: 40px;
  padding: 10px;
}











