body {
  font-family: 'Lato', sans-serif;
}

.section-container {
  display: flex;
  flex-direction: column;

}

.yt-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yt-holder iframe {
  width: 100%;
  min-height: 300px;
}

/***********Page*/

.page-holder {
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 560px;
  padding: 50px 20px 30px;
}

.container h2 {
  margin: 0 0 10px;
  font-size: 18px;
}

/***********Header*/

.header-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.logo {
  width: 150px;
  height: 50px;
}

.social-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

.social-holder img {
  width: 35px;
  height: 35px;
}

/***********Distribution*/

.cd-holder {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  padding: 20px;
  border: 2px solid #000;
  text-decoration: none;
}

.cd-holder:hover {
  text-decoration: none;
  background-color: RGBA(218,218,218,0.3);
  color: #000000;

  -webkit-animation: fade-in 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.cd-holder .shadow {
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.43);
}

.cd-holder p {
  font-size: 18px;
}

/***********Links*/

.links-holder {
  margin-bottom: 30px;
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 2px solid #000;
}

.links li {
  margin: 0;
}

.links p {
  margin: 0;
  font-size: 16px;
}

.links img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.link {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  color: #000000;
  text-decoration: none;
}

.link:hover {
  background-color: RGBA(218,218,218,0.3);
  color: #000000;

  -webkit-animation: fade-in 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    background-color: RGBA(218,218,218,0);
  }
  100% {
    background-color: RGBA(218,218,218,0.5);
  }
}
@keyframes fade-in {
  0% {
    background-color: RGBA(218,218,218,0);
  }
  100% {
    background-color: RGBA(218,218,218,0.5);
  }
}

/***********Patrons*/

.patrons-container {
  width: 100%;
  margin-bottom: 30px;
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  padding: 20px;
}

.patron {
  max-width:75px;
  max-height: 40px;
  padding: 10px;
}

/***********Copyright*/

.copyright {
  color: #a4a4a4;
  text-align: center;
}

/***********Mobile*/

@media (min-width: 385px) {
  .logo {
    width: 250px;
    height: 80px;
  }

  .cd-holder {
    flex-direction: row;
    text-align: unset;
  }

  .cd-holder img {
    margin-right: 20px;
  }
}
































